body {
    text-align: center;
}

.card {
    color: white;
    font-size: 3rem;
    height: 300px;
    pointer-events: none;
    text-align: center;
    text-shadow: 1px 1px 0 black;
    width: 225px;
}

.final {
    color: red;
}

.Club {
    background-image: url(images/Club.png);
}

.Spade {
    background-image: url(images/Spade.png);
}

.Heart {
    background-image: url(images/Heart.png);
}

.Diamond {
    background-image: url(images/Diamond.png);
}
